@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

footer{
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.footerSpan{
    color: aliceblue;
    font-family: 'Kdam Thmor Pro', sans-serif;
    background-color: #000;
}

.footer-navigation{
    display: block;
}

.footer-list{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; 
    padding: 0;
}

.liFooter{
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: 'Kdam Thmor Pro', sans-serif;
    display: none;
}

li:hover{
    color: #d21617;
}

#logo{
    width: 150px;
    height: auto;
}