@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');


.contentContainer{
    display: flex;
}

#introduction{
    padding: 10px;
    width: auto;
    height: auto;
    background-color:white;
    font-size: 20px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: black;
    border-bottom: 2px aliceblue solid;
}

.comentsContainer{
    background-color: aliceblue;
    padding: 10px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.coments{
    width: 100%;
    height: fit-content;
    background-color: white;
    font-size: 15px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    padding-bottom: 30px;
    margin-bottom: 2px;
    text-justify: inherit;
    border-radius: 1%;
}


.star{
    width: 1.1em;
    font-size: 2vw;
    color: goldenrod;
    background-color: white;
    opacity: 1;
}

p{background-color: white;}

span{background-color: white;}

#mais{display: none;}

.scriptButton{
    background-color: white;
    cursor: pointer;
    border: none;
}

.text-box{
    width: 90%;
    height: 30px;
    background-color: white;
}

.enviarButton{
    background-color: rgb(173, 179, 184);
    width: 100px;
    height: 30px;
    font-family: "Kdam Thmor Pro', sans-serif";
    font-size: 20px;
    transition: 1s;
    border-radius: 5%;
    margin: 10px 10px 10px 10px;
    border: none;
}

.enviarButton:hover{
    background-color: rgb(173, 179, 200);
    cursor: pointer;
}




